<nav class="bg-green-600 text-white p-2 flex justify-between items-center fixed top-0 left-0 w-full z-10">
  <div class="text-2xl font-bold text-white ml-5">
    <a routerLink="/">MovieApp</a>
  </div>
  <div class="flex space-x-8" *ngIf="isAdmin()">
    <a routerLink="/" class="hover:text-yellow-500 text-xl">Home</a>
    <div class="relative group inline-block">
      <a class="hover:text-yellow-500 text-xl cursor-pointer">Movies</a>
      <div class="absolute hidden group-hover:block bg-green-600  rounded shadow-lg ">
        <a routerLink="/show-movies" class="block px-4 py-2 hover:bg-green-500">Show Movies</a>
        <a routerLink="/add-movie" class="block px-4 py-2 hover:bg-green-500">Add Movie</a>
      </div>
    </div>
  </div>
  <div class="space-x-4 flex items-center">
    <a routerLink="/login" *ngIf="!isLoggedin()" class="bg-white font-bold text-green-600 px-3 py-2 rounded hover:bg-white hover:cursor-pointer">Login</a>
    <a routerLink="/register" *ngIf="!isLoggedin()" class="bg-white font-bold text-green-600 px-3 py-2 rounded hover:bg-white">Register</a>

    <!-- For Logged in User -->
    <div class="flex items-center space-x-2" *ngIf="isLoggedin()">
      <h2 class="font-bold text-yellow-300 px-3 py-2 rounded text-lg">{{getName()}}</h2>
      <a (click)="logout()" class="text-white bg-red-500 hover:bg-red-700 px-4 py-2 rounded hover:cursor-pointer">Logout</a>
    </div>

  </div>
</nav>

